@model IEnumerable<AirBnB_Clone_project.Models.Room>


@{
    ViewBag.Title = "Control";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@foreach (var item in Model)
{
    <div>
        <span>
            @Html.LabelFor(x => item.Name_Cate, htmlAttributes: new { @class = "control-label col-md-2" })  :

            @Html.DisplayFor(x => item.Name_Cate)
        </span>
    </div>
    <div>
        <span>
            @Html.LabelFor(x => item.ID_Cate, htmlAttributes: new { @class = "control-label col-md-2" })  :

            @Html.DisplayFor(x => item.ID_Cate)
        </span>
    </div>





    @Html.ActionLink("Edit", "Edit", new { id = item.Id_Room })
    @Html.ActionLink("Detail", "Detail", new { id = item.Id_Room })
    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Room })
}
